
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 10px;

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
}

.body-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 4px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  padding: 20px;
}
